h1 {
    color: rgba(0,200,0,0.75);
    font-family: "DejaVu Sans Mono", Arial, sans-serif;
    width: 300px;
}

h1.pressed {
    color: rgba(255,0,0,1);
}

h2, h3 {
    color: rgba(0,0,255,1);
    font-family: Purisa, Arial, sans-serif;
    width: 500px;
}

li a {
    color: rgba(100,100,100,0.75);
    text-decoration: none;
}

ul {
    list-style-type: square;
}